.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.bg-dark{
  background-color: #282c34;
  color: wheat;
}
.button{
  background-color: aquamarine;
  color: black;
  padding:10px;
  display:block;
  border-radius:10px;
  text-transform: uppercase;
  text-decoration: none;
  width: 30ch;
  text-align: center;
}
.navbar{
  display:  flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  background-color: chocolate;
  padding:5px ;
  margin:4px;

}
.nav-item{

  text-transform: capitalize;
  color: beige;
  font-weight: 900;
}
.nav-item a{
  background-color: #282c34;
  color: white;
  text-decoration: none;
  padding:10px 20px;
  
}
.title,.sub-title{
  text-align: center;
}
.sub-title{
  margin-bottom: 40px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
